./42TESTERS-GNL/README.md ./42TESTERS-GNL/a.out ./42TESTERS-GNL/all_tests.sh ./42TESTERS-GNL/all_tests_with_bonus.sh ./42TESTERS-GNL/bonusrun1.sh ./42TESTERS-GNL/bonusrun2.sh ./42TESTERS-GNL/bonusrun3.sh ./42TESTERS-GNL/bonusrun42.sh ./42TESTERS-GNL/bonusrun9999.sh ./42TESTERS-GNL/bonusrunDEV_RANDOM.sh ./42TESTERS-GNL/bonusrunHUGE.sh ./42TESTERS-GNL/bonusrunSTDIN+LEAKS.sh ./42TESTERS-GNL/diff.txt ./42TESTERS-GNL/files ./42TESTERS-GNL/results ./42TESTERS-GNL/run1.sh ./42TESTERS-GNL/run2.sh ./42TESTERS-GNL/run3.sh ./42TESTERS-GNL/run42.sh ./42TESTERS-GNL/run9999.sh ./42TESTERS-GNL/runDEV_RANDOM.sh ./42TESTERS-GNL/runHUGE.sh ./42TESTERS-GNL/runSTDIN+LEAKS.sh ./42TESTERS-GNL/srcs
